*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
}
ul, a{
  text-decoration: none;
  list-style-type: none;
  color: #f9faf8;
  display: flex;
  font-size: 24px;
  gap: 24px;
}
.logo{
  margin-right: auto;
  font-weight: 900;
}
nav{
  margin-bottom: 50px;
}
.header .mid-section .para .last-section .footer{
  padding: 20px 100px;
}
.header{
  background-color: #1f2937;
  color: #f9faf8;
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-hero h1, .left-hero p{
  margin-bottom: 8px;
}
.left-hero h1{
  font-size: 48px;
}
.left-hero p{
  font-size: 18px;
  color: #E5E7EB;
  width: 600px;
}
.left-hero button{
  background-color: #3882F6;
  border-radius: 12px;
  padding: 4px 18px;
  color: #f9faf8;
}
.mid-section h2{
  font-size: 30px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin-bottom: 40px;
}
.container{
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item{
  border: 1px solid #3882F6;
  border-radius: 12px;
  margin: 10px;
  width: 125px;
  height: 100px;
}
.boxp{
  text-align: center;
}
.para{
  background-color: #E5E7EB;
  padding: 80px 150px 80px 150px;
}
.quote{
  font-size: 36px;
  font-style: light italic;
  color: #1f2937;
}
.author{
  text-align: end;
  font-size: 18px;
  font-weight: 800;
}
.blue{
  background-color: #3882F6;
  color: #f9faf8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin: 50px;
  border-radius: 20px;

}
button{
  background-color: #3882F6;
  color: #f9faf8;
  border: 1px solid #f9faf8;
  border-radius: 12px;
  padding: 4px 18px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  
}